.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  
  .openSecond {
    height: 20px;
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 20px;
    margin-right: 0px;

    background-color: $pastel;
    color: white;
    &:hover {
      background-color: maroon;
    }
  }

  h3 {
    color: $pastel;
    font-size: xx-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0px;
  }

  .store-form-wrapper {
    display: flex;
    flex-direction: column;
    
   
  }



  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $pastel;
    display: block;
    transition: 0.3s;

    &:hover {
      color: maroon;
    }
  }


  .Collapsible {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: $pastel;

    &:hover {
      color: teal;
    }

    .Collapsible__contentInner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 2px solid maroon;

      .map-style {
        font-size: large;
      }
    }
  }

  .closebtn {
    position: absolute;
    top: -12px;
    left: 120px;
    font-size: 36px;
    margin-right: 50px;
  }
}
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 0;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }